[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "jupyter/nbextensions/vim_binding"]
	path = jupyter/nbextensions/vim_binding
	url = https://github.com/lambdalisue/jupyter-vim-binding
